@page "/categoryList"
@inject ICategoryRepository _categoryRepository;
@inject IJSRuntime _jsRuntime;

<_DeleteCategory IsParenetComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteCategory>
<div class="row mt-2">
    <div class="col-6">
        <h4 class="card-title text-info mb-3 ml-3">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <NavLink href="categoryList/Create" class="btn btn-info form-control">Add New Category</NavLink>
    </div>

    <div class="col-12">
        @if (categories.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var objCat in categories)
                    {
                        <tr>
                            <td>@objCat.Name</td>
                            <div class="gap-4">
                                <NavLink href="@($"categoryList/edit/{objCat.Id}")" class="btn btn-primary">Edit</NavLink>
                                <NavLink href="@($"categoryList/edit/{objCat.Id}")" class="btn btn-info">Details</NavLink>
                                <button class="btn btn-danger" @onclick="()=>handleDelete(objCat.Id)">Delete</button>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <div class="text-center">
                    <h3>Loading...</h3>
                </div>
            }
            else
            {
                <h3>No records found.</h3>
            }
        }
    </div>
</div>
@code {
    private List<CategoryDTO> categories { get; set; } = new List<CategoryDTO>();

    public bool IsLoading { get; set; } = true;
    private int DeletecategoryId { get; set; } = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {    
            await LoadCategories();
        }
    }
    private async Task LoadCategories()
    {
        IsLoading = true;
        StateHasChanged();
        categories =await _categoryRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }
    private void handleDelete(int id)
    {
        DeletecategoryId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }
    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;
        if(isConfirmed && DeletecategoryId != 0)
        {
            //await Task.Delay(5000);
            await _categoryRepository.Delete(DeletecategoryId);
            await  LoadCategories();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading = false;
    }
}
